<div class="profile-edit">
  <h3 class="pt-3 mb-4" style="text-align: center"><span style="background-color: #99FF00">プロフィール編集</span></h3>


  <% if @food_booker.errors.any? %>
  <div id="error_explanation">
    <h5><%= @food_booker.errors.count %>件空欄です</h5>
    <% @food_booker.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>
  <% end %>

  <%= form_with model: @food_booker, local:true do |f| %>
  <table class="mx-auto">
    <tbody>
      <tr class="b-3">
        <td class="px-5"><p>プロフィール画像</p></td>
        <td>
          <p><%= f.attachment_field :profile_image %></p>
        </td>
      </tr>

      <tr>
        <td class="px-5"><p>名前</p></td>
        <td><p><%= f.text_field :name, style: "width: 100%" %></p></td>
      </tr>

      <tr>
        <td class="px-5"><p>自己紹介文</p></td>
        <td><p><%= f.text_area :introduction, style: "width: 100%" %></p></td>
      </tr>

      <tr>
        <td class="px-5"><p></p></td>
        <td><p><button class="btn btn-outline-success" type="submit">変更内容の保存</button></p></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>

