<p class="text-success notice"><%= notice %></p>
<div>
    <div class="profile-item py-4">
    <%= attachment_image_tag @food_booker, :profile_image, fallback: "no_image.jpg", style: "width: 500px; height: 281.25px;" %>
    <h4><%= @food_booker.name %></h4>
    <p><%= @food_booker.introduction %></p>
    <% if @food_booker.id == current_food_booker.id %>
      <%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã®ç·¨é›†", edit_food_booker_path(@food_booker.id), class: "btn btn-outline-success mt-3" %>
    <% elsif current_food_booker.following?(@food_booker) %>
      <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼å¤–ã™", food_booker_relationships_path(@food_booker.id), method: :delete, class: "btn btn-outline-danger" %>
    <% else %>
      <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼ã™ã‚‹", food_booker_relationships_path(@food_booker.id), method: :post, class: "btn btn-outline-primary" %>
    <% end %>
    <div style="display: flex; justify-content: center;">
      <div>
      <%= link_to food_booker_followings_path(current_food_booker.id) do %>
      <p>ãƒ•ã‚©ãƒ­ãƒ¼ï¼š<%= @food_booker.followings.count %></p>
      <% end %>
      </div>
      <div class="ml-4">
      <%= link_to food_booker_followers_path(current_food_booker.id) do %>
      <p>ãƒ•ã‚©ãƒ­ãƒ¯ãƒ¼ï¼š<%= @food_booker.followers.count %></p>
      <% end %>
      </div>
    </div>
  </div>
  <% @books.each do |book| %>
  <div class="row" style="justify-content: center;">

    <div class="col-sm-4 col-md-4 col-lg-4 mybook">
    <%= link_to book_path(book.id) do %>
      <%= attachment_image_tag book, :image, fallback: "no_image.jpg", style: "width: 100%;" %>
    <% end %>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4 mybook-name">
    <%= link_to book_path(book.id) do %>
      <h5><%= book.food_name %></h5>
    <% end %>
      <p><%= book.food_booker.name %></p>
      <p><%= book.food_introduction %></p>
    </div>
  </div>
  <div class="row" style="justify-content: center;">

    <div class="col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
      <%= link_to book_path(book.id) do %>
      <p>ðŸ’¬<%= book.book_comments.count %></p>
      <% end %>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2" style="text-align: center;">
      <div id="book_<%= book.id %>">
        <%= render 'books/book', book: book %>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
    </div>
  </div>
  <% end %>
</div>